.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Serif', serif;
  background-color: black;
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body covers the full viewport height */
  background-color: black; /* Black background for the entire page */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header-home
{
  border-style: solid;
  padding-left: 1vw;
  font-family: 'Noto Serif', serif;
}




